In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [11]:
df = pd.read_csv('Ventas_totales.csv')
pd.options.display.max_columns = None
df.head(5)

,indice_tiempo,ventas_precios_corrientes,ventas_precios_constantes,ventas_totales_canal_venta,salon_ventas,canales_on_line,ventas_totales_medio_pago,efectivo,tarjetas_debito,tarjetas_credito,otros_medios,ventas_totales_grupo_articulos,subtotal_ventas_alimentos_bebidas,bebidas,almacen,panaderia,lacteos,carnes,verduleria_fruteria,alimentos_preparados_rotiseria,articulos_limpieza_perfumeria,indumentaria_calzado_textiles_hogar,electronicos_articulos_hogar,otros
0,01/01/2017,27858.9,27477.3,27858872.08,27591730.13,267141.956,27858872.08,1.023010e+07,6864575.384,9047205.493,1716991.073,27858872.08,18043789.16,3514467.398,6705475.318,9.459063e+05,2880656.169,2606192.942,1.050314e+06,340777.3882,4397543.671,772371.8476,1838507.096,2806660.309
1,01/02/2017,25994.2,25223.4,25994200.17,25749179.40,245020.769,25994200.17,9.719067e+06,6438494.011,8309150.301,1527488.518,25994200.17,17656879.08,3344456.931,6576624.803,9.256186e+05,2855639.900,2600083.591,1.026167e+06,328288.6951,4053283.771,672290.5165,1257661.903,2354084.901
2,01/03/2017,27780.0,26334.3,27780006.52,27472228.72,307777.804,27780006.52,1.024444e+07,6908522.962,8845010.494,1782030.557,27780006.52,19186248.05,3290739.324,7437264.174,1.016148e+06,3188259.169,2824976.726,1.075526e+06,353335.1548,4354197.611,667696.6653,1305674.917,2266189.277
3,01/04/2017,29134.3,27045.9,29134272.22,28827479.49,306792.733,29134272.22,1.031263e+07,7454251.800,9458166.682,1909221.374,29134272.22,20257135.10,3253288.237,8211244.093,1.132396e+06,3257140.159,3006158.760,1.037213e+06,359694.4537,4355706.646,838948.2458,1535726.345,2146755.887
4,01/05/2017,27969.0,25631.9,27969004.68,27569311.41,399693.262,27969004.68,1.014761e+07,6735747.319,9220929.862,1864714.157,27969004.68,18904574.40,2869437.411,7651058.084,1.033082e+06,3232635.767,2799142.123,9.826512e+05,336568.0085,4206101.605,915895.1498,1824462.036,2117971.483

In [5]:
valores_nulos=df.isnull().sum()
valores_nulos
#Hay 15 columnas con datos nulos

indice_tiempo                           0
ventas_precios_corrientes               0
ventas_precios_constantes               0
ventas_totales_canal_venta              0
salon_ventas                            6
canales_on_line                         0
ventas_totales_medio_pago               0
efectivo                                0
tarjetas_debito                         1
tarjetas_credito                        7
otros_medios                            1
ventas_totales_grupo_articulos          0
subtotal_ventas_alimentos_bebidas      10
bebidas                                 1
almacen                                 2
panaderia                               1
lacteos                                 1
carnes                                  1
verduleria_fruteria                     1
alimentos_preparados_rotiseria          1
articulos_limpieza_perfumeria           0
indumentaria_calzado_textiles_hogar     2
electronicos_articulos_hogar            3
otros                                   4
dtype: int64

In [33]:
#La primera columna a reemplazar datos será 'salon_ventas'
#Usaré el metodo de sustitución con MEDIANA
df['salon_ventas']=df['salon_ventas'].fillna(round(df['salon_ventas'].median(),1))

In [31]:
#Sustituiremos 'tarjetas_debito' por método 'fordward fill ('ffill')
df['tarjetas_debito']=df['tarjetas_debito'].fillna(method='ffill')

C:\Users\italy\AppData\Local\Temp\ipykernel_2924\1710649680.py:2: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df['tarjetas_debito']=df['tarjetas_debito'].fillna(method='ffill')

In [29]:
#Sustituir 'tarjetas_credito' por método 'backward fill ('ffill')
df['tarjetas_credito']=df['tarjetas_credito'].fillna(method='bfill')

C:\Users\italy\AppData\Local\Temp\ipykernel_2924\682965835.py:2: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df['tarjetas_credito']=df['tarjetas_credito'].fillna(method='bfill')

In [34]:
#Sustituir 'otros_metodos' por string en concreto
df['otros_medios']=df['otros_medios'].fillna('1782030.557')

In [35]:
#Sustituir 'subtotal_ventas_alimentos_bebidas' con PROMEDIO o MEDIA
df['subtotal_ventas_alimentos_bebidas']=df['subtotal_ventas_alimentos_bebidas'].fillna(round(df['subtotal_ventas_alimentos_bebidas'].mean(),1))

In [36]:
#Sustituir 'bebidas' por un valor numérico en concreto
df['bebidas']= df['bebidas'].fillna(2869437.411)

In [37]:
#Sustituir 'almacen' por método 'backward fill ('ffill')
df['almacen']=df['almacen'].fillna(method='bfill')

C:\Users\italy\AppData\Local\Temp\ipykernel_2924\3947105404.py:2: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df['almacen']=df['almacen'].fillna(method='bfill')

In [38]:
#Sustituir 'panaderia' por sustitución con MEDIANA
df['panaderia']=df['panaderia'].fillna(round(df['panaderia'].median(),1))

In [39]:
#Sustituir 'lacteos' por string en concreto
df['lacteos']=df['lacteos'].fillna('2880656.169')

In [40]:
#Sustituir 'carnes' con PROMEDIO o MEDIA
df['carnes']=df['carnes'].fillna(round(df['carnes'].mean(),1))

In [41]:
#Sustituir 'verduleria_fruteria' con MEDIANA
df['verduleria_fruteria']=df['verduleria_fruteria'].fillna(round(df['verduleria_fruteria'].median(),1))

In [42]:
#Sustituir 'alimentos_preparados_rotiseria' por método 'fordward fill ('ffill')
df['alimentos_preparados_rotiseria']=df['alimentos_preparados_rotiseria'].fillna(method='ffill')

C:\Users\italy\AppData\Local\Temp\ipykernel_2924\1101964644.py:2: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df['alimentos_preparados_rotiseria']=df['alimentos_preparados_rotiseria'].fillna(method='ffill')

In [43]:
#Sustituir 'indumentaria_calzado_textiles_hogar' por string en concreto
df['indumentaria_calzado_textiles_hogar']=df['indumentaria_calzado_textiles_hogar'].fillna('915895.1498')

In [44]:
#Sustituir 'electronicos_articulos_hogar' con PROMEDIO o MEDIA
df['electronicos_articulos_hogar']=df['electronicos_articulos_hogar'].fillna(round(df['electronicos_articulos_hogar'].mean(),1))

In [45]:
#Sustituir 'otros' con MEDIANA
df['otros']=df['otros'].fillna(round(df['otros'].median(),1))

In [46]:
valores_nulos=df.isnull().sum()
valores_nulos

indice_tiempo                          0
ventas_precios_corrientes              0
ventas_precios_constantes              0
ventas_totales_canal_venta             0
salon_ventas                           0
canales_on_line                        0
ventas_totales_medio_pago              0
efectivo                               0
tarjetas_debito                        0
tarjetas_credito                       0
otros_medios                           0
ventas_totales_grupo_articulos         0
subtotal_ventas_alimentos_bebidas      0
bebidas                                0
almacen                                0
panaderia                              0
lacteos                                0
carnes                                 0
verduleria_fruteria                    0
alimentos_preparados_rotiseria         0
articulos_limpieza_perfumeria          0
indumentaria_calzado_textiles_hogar    0
electronicos_articulos_hogar           0
otros                                  0
dtype: int64

In [47]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65 entries, 0 to 64
Data columns (total 24 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   indice_tiempo                        65 non-null     object
 1   ventas_precios_corrientes            65 non-null     float64
 2   ventas_precios_constantes            65 non-null     float64
 3   ventas_totales_canal_venta           65 non-null     float64
 4   salon_ventas                         65 non-null     float64
 5   canales_on_line                      65 non-null     float64
 6   ventas_totales_medio_pago            65 non-null     float64
 7   efectivo                             65 non-null     float64
 8   tarjetas_debito                      65 non-null     float64
 9   tarjetas_credito                     65 non-null     float64
 10  otros_medios                         65 non-null     object
 11  ventas_totales_grupo_articulos       65 non-null     float64
 12  subtotal_ventas_alimentos_bebidas    65 non-null     float64
 13  bebidas                              65 non-null     float64
 14  almacen                              65 non-null     float64
 15  panaderia                            65 non-null     float64
 16  lacteos                              65 non-null     object
 17  carnes                               65 non-null     float64
 18  verduleria_fruteria                  65 non-null     float64
 19  alimentos_preparados_rotiseria       65 non-null     float64
 20  articulos_limpieza_perfumeria        65 non-null     float64
 21  indumentaria_calzado_textiles_hogar  65 non-null     object
 22  electronicos_articulos_hogar         65 non-null     float64
 23  otros                                65 non-null     float64
dtypes: float64(20), object(4)
memory usage: 12.3+ KB

In [48]:
df.to_csv('Ventas_totales_sin_nulos.csv')